@charset "UTF-8";

uni-page-body {
	/* 颜色变量 */
	--app-color-master: #090C49;
	--app-color-slave: #FAD09E;
	/* 背景颜色 */
	--app-bg-color: #F1F7FF;
	/* 文字基本颜色 */
	--app-text-color-white: #FFFFFF;
}

page {
	width: 100%;
	//height: 100%;
	min-height: 100%;
	font-weight: normal;
	background-color: var(--app-bg-color, #F1F7FF);
	box-sizing: border-box;
}

.page-wrap {
	width: 100%;
	//height: 100%;
	min-height: 100%;
	background-color: var(--app-bg-color);
}

.btn-master-color {
	color: var(--app-text-color-white, #FFFFFF);
	border-color: var(--app-color-master, #090C49);
	background-color: var(--app-color-master, #090C49);
}

.btn-slave-color {
	color: #ffffff;
	border-color: var(--app-color-slave, #FAD09E);
	background-color: var(--app-color-slave, #FAD09E);
}